#Satisfy any
#Allow from all
AddHandler fcgid-script .fcgi

RewriteEngine On
RewriteBase /
#RewriteCond %{REQUEST_URI} !^/$
#RewriteRule http://speakeasy.frishberg.net/article [L,R=301]
RewriteCond %{REQUEST_URI} !^/dispatch.fcgi [NC]
RewriteCond %{REQUEST_URI} !^/media [NC]
RewriteRule ^(.*)$ dispatch.fcgi/$1 [QSA,L]

#RewriteRule .* dispatch.fcgi
#RewriteBase /
#RewriteCond %{REQUEST_URI} !^/dispatch.fcgi [NC]
#RewriteCond %{REQUEST_URI} !^/media [NC]
#RewriteCond %{REQUEST_URI} !^/article
#RewriteRule ^(.*)$ dispatch.fcgi/$1 [QSA,L]
