/*html {
    -moz-box-shadow: 0 0 40px 5px rgba(0,0,0,0.2)inset;
    -webkit-box-shadow: 0 0 40px 5px rgba(0,0,0,0.2)inset;
    box-shadow: 0 0 40px 5px rgba(0,0,0,0.2) inset;
  
}*/
html.inactive, html.inactive body {
    overflow: hidden;
}
body {
    width: 1000px;
    margin: 0 auto;
    font-family: georgia, times, serif;
    color: #000;
    font-size: 12px;
    line-height: 16px;
    background-color: #669;
}

#main {
    height: auto;
    width: 700px;
    margin: 0 auto;
    background-color: #f3f2ee;
    position: relative;
    -moz-box-shadow: -30px 0px 30px 0 rgba(0,0,0,0.5),30px 0px 30px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: -30px 0px 30px 0 rgba(0,0,0,0.5),30px 0px 30px 0 rgba(0,0,0,0.5);
    box-shadow: -30px 0px 30px 0 rgba(0,0,0,0.5),30px 0px 30px 0 rgba(0,0,0,0.5);
    margin-top: 0px;
    padding: 35px;
    padding-top: 0px;
    border-bottom: 20px solid black;
}

h1, h2 {
    color: #333;
}

#header {
    background-color: black;
    font-size: 35px;
    width: 770px;
    height: 90px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: Copperplate, sans-serif;
    text-decoration: none;
    top: 0;
    -moz-box-shadow: -30px 0px 30px 0 rgba(0,0,0,0.5),30px 0px 30px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: -30px 0px 30px 0 rgba(0,0,0,0.5),30px 0px 30px 0 rgba(0,0,0,0.5);
    box-shadow: -30px 0px 30px 0 rgba(0,0,0,0.5),30px 0px 30px 0 rgba(0,0,0,0.5);
    z-index: 98;
    left: -1px;
    margin: auto;
}

#Sletter {
    height: 70px;
    width: auto;
    position: relative;
    top: 10px;
    text-decoration: none !important;
}

#title {
    text-align: center;
    text-transform: uppercase;
    font-family: Copperplate, sans-serif;
    font-size: 60px;
    position: relative;
    top: -10px;
    color: white;
    text-decoration: none !important;
    
}

#header h1 {
    color: #fff;
}

#content {
    width: 80%;
    height: auto !important;
    color: #000;
    font-size: 12px;
    line-height: 15px;
    margin-right: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border-right:  dashed grey 2px;
    
}

#content, #comments {
    float: left;
    height: 100%;
    
}

#breadcrumb {
    width: 500px;
    min-height: 1px;
    margin-right: 20px;
    overflow: scroll !important;   
}

#breadcrumb {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999999;
    overflow: scroll;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

#comments {
    width: 300px;
    margin-left: 20px;
    padding-right: 12px;
    overflow-x:hidden;
}

#comments > div:empty, #breadcrumb:empty {
    background-color: transparent;
}


.article p {
    overflow: visible;
}

.article {
    font-size: 13px;
    line-height: 18px;
}

.comments-wrapper {
    padding: 0 4px;
    display: none;
    /*display: none;*/
}

.comments-wrapper {
    display: none;
}

.comments-wrapper.comments-visible {
    display: block;
}

.comments-wrapper.comments-visible > .comments {
    display: block;
}

.comments-wrapper {
    margin-right: -500px;
    float: right;
    /*display: none;*/
    border: 1px solid #000;
    background-color: white;
}

.comment {
    position: relative;
/*    width: 280px;
    clear: both;*/
    background-color: #d1e1f1;
    padding: 4px 20px;
    margin-top: 4px;
    border-radius: 8px;
}


.node, .breadcrumb-node {
    /* background-color: #cfcfff; */
    padding: 2px 4px;
    border-radius: 8px;
    transition: background-color .5s;
-moz-transition:background-color .5s; /* Firefox 4 */
-webkit-transition:background-color .5s; /* Safari and Chrome */
-o-transition:background-color .5s; /* Opera */
}

.node:hover, .breadcrumb-node:hover {
    background-color: #d1e1f1;
    cursor: pointer;
}

.comments-wrapper .comments-wrapper {
    position: absolute;
    left: 320px;
    top: 0;
}

.comments-reply {
    width: 280px;
}



.comments-reply textarea, .comments-reply input {
    display: inline;
}

.node, .breadcrumb-node {
    position: relative;
    padding-right: 20px;
}

#breadcrumb .breadcrumb-node {
    /*border-top: 1px solid #ddd;*/
    margin-bottom: 4px;
    background-color: #d1e1f1;
    border-radius: 8px;
}

#breadcrumb .breadcrumb-node:first-child {
    border-top: none;
}

#existing-comments .comment {
    /* border-top: 1px solid #ddd; */
}

#existing-comments .comment:first-child {
    border-top: none;
}

.node a.node-button, .breadcrumb-node a.node-button {
    display: block;
    width: 18px;
    height: 18px;
    background: transparent;
    /* float: right; */
    position: absolute;
    bottom: 0;
    right: -4px;
    border: 1px solid #669;
    border-radius: 10px;
    text-align: center;
    
}



#content .active-node {
    background-color: #c1d1e1;
    color: #000;
    border-radius: 8px;
}

a.node-button.node-button-open {
    background-image: url("/media/images/node-open.png");
}


.comment-submit-form {
    padding: 4px;
    background-color: #669;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 10%;
}

.comment-submit-form label, .comment-submit-form textarea, .comment-submit-form input {
    display: block;
    float: left;
}

.comment-submit-form label {
    color: #fff;
    margin-bottom: 2px;
    font-weight: bold;

}

.comment-submit-form textarea {
    clear: left;
    width: 99%;
    height: 80px;
    border-radius: 8px;
    border: 1px solid #666;
}

.comment-submit-form input[type=submit] {
    
}

.comment-submit-form .help {
    color: #fff;
    clear: left;
    font-size: 10px;
    line-height: 13px;
}

.node-content {
    margin: 0;
}

.node-button, .node-button:hover, .node-button:active {
    text-decoration: none;
    text-align: center;

}
.node-num-comments {
    font-size: 14px;
    font-family: Copperplate;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    color: blue;
}

.node-num-comments-0 {
    color: #99f;
}

#active-node {
    padding: 4px;
    color: #333;
    background-color: #c1d1e1;
    border-radius: 8px;
}

.clear {
    clear: both;
}

.comment .node {
    background: transparent;
    transition: background 1s;
-moz-transition: background 1s; /* Firefox 4 */
-webkit-transition: background 1s; /* Safari and Chrome */
-o-transition: background 1s; /* Opera */
}

.comment .node:hover {
    background: #c1d1e1;
}


#breadcrumb-comments {
    float: left;
    padding-left: 20px;
    background-color: #dff;
}

#breadcrumb-comments h2 {
    
}

hr {
    width: 50%;
}

h2 {
    font-family: Copperplate;
    text-align: center;
}

#content h2 {
    text-align: center;
}

#login_button, #logout_button, .comment-submit-form input[type=submit] {
    width: 80px;
    height: 20px;
    background-color: #669;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    padding-top: 4px;
}

.comment-submit-form input[type=submit] {
    background-color: #f3f2ee;
    color: #669;
    margin-top: 4px;
    padding-top: 0;
    border: none;
    height: 16px;
    cursor: pointer;
}

#login_button, #logout_button {
    position: absolute;
    top: 16px;
    right: 30px;
    display: block;
    font-family: Copperplate;
    font-size: 17px;
}



.comment-user {
    font-weight: bold;
    text-transform: capitalize;
}




/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
/*  height: 100%;*/
}

#container {
  border: 1px solid #666;
  padding: 5px;

}


.element.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element.other.nonmetal  { background: #00F; background: hsl( 252, 100%, 50%); }
.element.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


/**** Example Options ****/

#options {
  padding-bottom: 1.0em;
  margin-top: 200px;
}

#options h3 {
  margin-bottom: 0.2em;
  font-size: 15px;
}

#options h4 { 
  font-weight: bold;
}

#options ul {
  margin: 0;
  list-style: none;
}

#options ul ul {
  margin-left: 1.5em;
}

#options li {
  float: left;
  margin-bottom: 0.2em;
}

#options li a {
  display: block;
  padding: 0.4em 0.5em;
  background-color: #DDD;
  color: #222;
  font-weight: bold;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  background-image: -webkit-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:    -moz-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:     -ms-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:      -o-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:         linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
}

#options li a:hover {
  background-color: #5BF;
}

#options li a:active {
  background-color: #39D;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

#options li a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-right: 1px solid hsla( 0, 0%,   0%, 0.2 );
}

#options li:first-child a {
  border-radius: 7px 0 0 7px;
  border-left: none;
}

#options li:last-child a {
  border-radius: 0 7px 7px 0;
}

#options li a.selected {
  background-color: #13F;
  text-shadow: none;
  color: white;
}

/* Combination filter options*/

#options .option-combo {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

#options .option-combo ul {
  margin-right: 20px;
  display: inline-block;
}

#options .option-combo h2,
#options .option-combo h4 {
  line-height: 34px;
  margin-bottom: 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

/**** Horizontal ****/

.horizontal #container {
  height: 80%;
}

#copy {
  max-width: 640px;
}



/**** Pygments ****/

code .s1,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc { color: #5298D4; } /*boolean*/
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na { color: #A9D866; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .c,
code .c1 { color: #666; font-style: italic; }

code .nt { color: #A0C8FC; } /* Markup open tag */

code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */



/**** Super list ****/

/**** Infinite Scroll ****/

#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}


.item {
    border-radius: 5px;
    /*width: 75px;
    height: 60px;*/
    float: left;
    margin: 4px;
    padding: 10px;
    -moz-box-shadow: 0 0 30px 5px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 30px 5px rgba(0,0,0,0.05);
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.05);
    border: 2px solid black;
    text-align: left;
    background: white;
    
}

.item.tope-comment-breadcrumb {
    background-color: #c1d1e1;
}

.item.tope-comment-breadcrumb.active {
    border: solid black 6px ;
}

#comments-in-isotope {
  /*  height: auto !important;*/
}
/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


#scrollbox3 {
    overflow: auto;
    width: 400px;
    height: 360px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: -4px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    -o-transition: background 250ms linear;
    -ms-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    -moz-transition: width 250ms;
    -o-transition: width 250ms;
    -ms-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

#innerwrap {
    position: relative;
}



#breadcrumb.inactive {
    display: none;
}

#comments-in-isotope, .comment-submit-form {
    width: 70%;
}


/*Colors bar*/
#colors {
    height: 22px;
    width: 770px;
    margin: auto;
    opacity: .8;
    -moz-box-shadow: -30px 0px 30px 0 rgba(0,0,0,0.5),30px 0px 30px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: -30px 0px 30px 0 rgba(0,0,0,0.5),30px 0px 30px 0 rgba(0,0,0,0.5);
    box-shadow: -30px 0px 30px 0 rgba(0,0,0,0.5),30px 0px 30px 0 rgba(0,0,0,0.5);
}

#one {  background: #C09;}
#two {  background: #90C;}
#three {  background: #0C9;}
#four {background: #843EED;}
#five { background: #3DF596;}
#six { background: #E5F2AE;}
#seven { background: #AEF2E6;}
#eight {  background: white;}
#nine {  background: #C09;}
#ten {  background: #90C;}
#eleven {  background: #0C9;}
#twelve {background: #843EED;}
#thirteen { background: #3DF596;}
#fourteen { background: #E5F2AE;}
#fifteen { background: #AEF2E6;}
#sixteen {  background: white;}

.columncontainer {
    display: inline !important;
    height: 100%;
    width: 6.25%;
    margin: 0px;
    position: relative;
    float: left;
}

.a {
    height: 100%;
    width: 100%;
    background: blue;
    margin: 0px;
    left: -2px;
    z-index: 4;
}

.b {
    height: 100%;
    width: 100%;
    background: black;
    margin: 0px;
}

/*end colors*/
