

body {
    background: black;
    padding: 0px;
    cursor: pointer;
}

#title {
    width: 100%;
    height: 80px;
    color: white;
    display: none;
    z-index: 98;
    margin-left:20px;
    margin-top: -100px;
    font-size: 60px;
    opacity: 1;
    background: black;
    text-align: center;
    padding-bottom: 7px;
}


.a {
    height: 100%;
    width: 60px;
    background: blue;
    display: none;
    margin: 0px;
    left: -2px;
    z-index: 4;
}

.b {
    height: 100%;
    width: 60px;
    background: black;
    display: none;
    margin: 0px;
}
.c {
    height: 100%;
    width: 60px;
    background: black;
    margin: 0px;
    display: none;
    left: -2px;
    z-index: 6;
}
.d {
    height: 100%;
    width: 60px;
    background: black;
    margin: 0px;
    display: none;
}

.e {
    height: 100%;
    width: 60px;
    background: black;
    margin: 0px;
    left: -2px;
    z-index: 6;
}

.f {
    height: 100%;
    width: 60px;
    background: black;
    margin: 0px;
}

.columncontainer {
    display: inline !important;
    height: 100%;
    width: 60px !important;
    margin: 0px;
    position: relative;
    float: left;
}

#main {
    height: 1000px;
    width: 100%;
    z-index: 0;
    display: inline-block;
    opacity: .8;
    margin: 0px;
    position: relative;
    top: -12px;
}

#mainagain {
    height: 1000px;
    width: 100%;
    display: inline-block;
    top: -863px;
    position: relative;
    margin-top: 0px;
    z-index: 60;
    margin-left: -30px;
    
}

#Sletter {
    width: auto;
    height: 90%;
    margin: auto;
}

#mainagainagain {
    height: 1000px;
    width: 100%;
    display: inline-block;
    top: -2020px;
    opacity: .7;
    position: relative;
    margin-top: 0px;
    z-index: 70;
    
}

#lastmain {
    height: 1000px;
    width: 100%;
    z-index: 0;
    display: inline-block;
    opacity: .8;
    margin: 0px;
    position: relative;
    top: -3020px;
}

#one {  background: #C09;}
#two {  background: #90C;}
#three {  background: #0C9;}
#four {background: #843EED;}
#five { background: #3DF596;}
#six { background: #E5F2AE;}
#seven { background: #AEF2E6;}
#eight {  background: white;}
#nine {  background: #C09;}
#ten {  background: #90C;}
#eleven {  background: #0C9;}
#twelve {background: #843EED;}
#thirteen { background: #3DF596;}
#fourteen { background: #E5F2AE;}
#fifteen { background: #AEF2E6;}
#sixteen {  background: white;}

#oneb {  background: #C09}
#twob {  background: #90C;}
#threeb {  background: #0C9;}
#fourb {background: #843EED;}
#fiveb { background: #3DF596;}
#sixb { background: #E5F2AE;}
#sevenb { background: #AEF2E6;}
#eightb {  background: white;}
#nineb {  background: #C09;}
#tenb {  background: #90C;}
#elevenb {  background: #0C9;}
#twelveb {background: #843EED;}
#thirteenb { background: #3DF596;}
#fourteenb { background: #E5F2AE;}
#fifteenb { background: #AEF2E6;}
#sixteenb {  background: white;}

#onec {  background: #C09}
#twoc {  background: #90C;}
#threec {  background: #0C9;}
#fourc {background: #843EED;}
#fivec { background: #3DF596;}
#sixc { background: #E5F2AE;}
#sevenc { background: #AEF2E6;}
#eightc {  background: white;}
#ninec {  background: #C09;}
#tenc {  background: #90C;}
#elevenc {  background: #0C9;}
#twelvec {background: #843EED;}
#thirteenc { background: #3DF596;}
#fourteenc { background: #E5F2AE;}
#fifteenc { background: #AEF2E6;}
#sixteenc {  background: white;}
