body {
    width: 966px;
    margin: 0 auto;
}
#content {
    width: 600px;
}
.article p {
    overflow: visible;
}

.comments-wrapper {
    padding: 0 4px;
    display: none;
    /*display: none;*/
}

.comments-wrapper {
    display: none;
}

.comments-wrapper.comments-visible {
    display: block;
}

.comments-wrapper.comments-visible > .comments {
    display: block;
}

/*
.comments-wrapper.comments-visible > .comments > .comment > .comment-nodes > .node > .comments-wrapper {
    display: block;
}
.comments-wrapper.comments-visible > .comments > .comment > .comment-nodes > .node > .comments-wrapper > .comments > .comment > .comment-nodes > .node > .comments.wrapper {
    display: none;
}
.comments-wrapper.comments-visible > .comments > .comment > .comment-nodes > .node > .comments-wrapper.comments-visible > .comments > .comment > .comment-nodes > .node > .comments.wrapper {
    display: block;
}
*/
.comments-wrapper {
    margin-right: -500px;
    float: right;
    /*display: none;*/
    border: 1px solid #000;
    background-color: white;
}

.comment {
    position: relative;
    width: 300px;
    clear: both;
}

.comments-wrapper .comments-wrapper {
    position: absolute;
    left: 320px;
    top: 0;
}

.comments-reply {
    width: 300px;
}
.comments-reply textarea, .comments-reply input {
    display: inline;
}

.comment .comment {
    /* margin-left: 24px;*/
}

.node a.node-button {
    display: block;
    width: 16px;
    height: 16px;
    background: transparent url("/media/images/node-closed.png");
    float: right;
}

.node:hover a.node-button {
    display: block;
}

a.node-button.node-button-open {
    background-image: url("/media/images/node-open.png");
}

.node:hover .comments-wrapper {
/*    display: block; */
}

.node:hover .comments-wrapper:empty {
    /*display: none; */
}