<html>
	<head>
		<title>Speakeasy</title>
		<link rel="stylesheet" type="text/css" href="/media/speakeasy.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/media/knockout-2.1.0.js"></script>
		<script type="text/javascript">
			article_slug = '{{article_slug}}'  // Used by speakeasy.js; must be placed before speakeasy.js is included
		</script>
		<script type="text/javascript" src="/media/speakeasy.js"></script>
		<script type= "text/javascript" src="/media/jquery.isotope.min.js"></script>
		<!--<script type="text/javascript" src= "media/enscroll-0.4.0.min.js"></script> -->
		    <!--<script type= "text/javascript" src="/media/jquery.nicescroll.js"></script>-->
		

		

	</head>
	<body>
		
		<div id="main">
			 
		<div id="header">
			<img alt="S" id= "Sletter" src="http://i.imgur.com/XtqDmB2.png"/>
			<span id="title">peakeasy</span>
			{% if anonymous %}
				<a id="login_button" href="/login?next=/article/{{article_slug}}">Log in</a>
			{% else %}
				<a id="logout_button" href="/logout?next=/article/{{article_slug}}">Log out</a>
			{% endif %}
			<a id= "backbutton" href= "http://www.speakeasycomments.com/"> Home </a>
		</div>
		
		<div id="content">
			<h2>Article Title</h2>
			<hr>
			<div id="article-1" class="article">
				<div id="nodes" data-bind="foreach: articleNodes">
				   <div data-bind="attr: {id: node_display_id, class: node_class}">
					<p class="node-content" data-bind="text: content">
					</p>
					<a class="node-button" href="#"><span data-bind="attr: {class: 'node-num-comments node-num-comments-'+num_comments()}, text: num_comments"></span></a>
					<div class="clear"></div>
				   </div>
				</div>
			</div>
			
		</div>
		<div id="breadcrumb">
			
										<!--<div id="comments-in-isotope" data-bind="foreach: activeNodeComments">
											
				<div class="isotope-item" data-bind="attr: {id: display_id, class: display_class}, text: content">
					
			
				</div>
				
			</div>-->
			<div id="comments-in-isotope" data-bind="template: {name: 'comment-template', foreach: activeNodeComments, afterAdd: commentAdded}">
					
					
				</div>
		<script type="text/html" id="comment-template">
			<div data-bind="attr: {id: display_id, class: display_class}">
						<div class="comment-user" data-bind="foreach: user"><span data-bind="text: first_name + '&#151;'"></span></div>
						<div class="comment-nodes" data-bind="foreach: nodes">
							<div class="node" data-bind="attr: {id: node_display_id}">
								<p class="node-content" data-bind="text: content">
								</p>
								<a class="node-button" href="#"><span class="node-num-comments" data-bind="text: num_comments"></span></a>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
		</script>

				<div class="comment-submit-form" data-bind="with: _activeNode">
					<label data-bind="attr: {for: node_textarea_id}">Leave a response</label>
					<p class="help">Separate your thoughts using the enter button. Your comment will be split up for others to respond to.</p>
					<a href="http://www.igendelman.com/art/Speakeasy.gif">HELP!</a>
					<textarea data-bind="attr: {id: node_textarea_id, name: node_textarea_id}" ></textarea>
					<input type="submit" data-bind="attr: {id: node_submit_id, name: node_submit_id}" value="Submit"/>
					<div class="clear"></div>
				</div>						
		</div>
		<!--<div id="breadcrumb">
				<h2>Your Selections</h2>
				<hr>
				<div id="breadcrumb-inner" data-bind="foreach: activeTrail">
					<div class="breadcrumb-node" data-bind="attr: {id: node_display_id}">
						
						<p class="node-content" data-bind="text: content">
						</p>
						<a class="node-button" href="#"><span class="node-num-comments" data-bind="text: num_comments"></span></a>
						<div class="clear"></div>
						
					</div>
					
				</div>
				<div id="active-node" data-bind="with: _activeNode">
					<div id="active-node-content" data-bind="text: content"></div>
				</div>
			</div>-->
	<!--		<div id="comments" >
				 <div id="options">
       <div class="option-combo">
      <h2>Filter:</h2>
      <ul id="filter" class="option-set clearfix" data-option-key="filter">
        <li><a href="#show-all" data-option-value="*" class="selected button">show all</a></li>
        <li><a class = "button" href="#poetry" data-option-value=".poetry">poetry</a></li>
        <li><a class = "button" href="#fiction" data-option-value=".fiction">fiction</a></li>
      </ul>
    </div>
    </div>
				<h2>Comments</h2>
				<hr>
				

				<div id="existing-comments" data-bind="foreach: activeComments">
					
					<div class="comment item" data-bind="attr: {id: comment_display_id}">
						<div class="comment-user" data-bind="with: user"><span data-bind="text: first_name + '&#151;'"></span></div>
						<div class="comment-nodes" data-bind="foreach: nodes">
							<div class="node" data-bind="attr: {id: node_display_id}">
								<p class="node-content" data-bind="text: content">
								</p>
								<a class="node-button" href="#"><span class="node-num-comments" data-bind="text: num_comments"></span></a>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					
				</div>
				<div class="comment-submit-form" data-bind="with: _activeNode">
					<label data-bind="attr: {for: node_textarea_id}">Leave a response</label>
					<p class="help">Separate your thoughts using the enter button. Your comment will be split up for others to respond to.</p>
					<textarea data-bind="attr: {id: node_textarea_id, name: node_textarea_id}" ></textarea>
					<input type="submit" data-bind="attr: {id: node_submit_id, name: node_submit_id}" value="Submit"/>
					<div class="clear"></div>
				</div>
				
			</div>-->
			<div class="clear"></div>
			<div id= "footer"></div>
		</div>
  		
		
  <script>
    $(function(){
    
      var $container = $('#comments-in-isotope');
      
    
      $container.isotope({
        masonry: {
          columnWidth: 10
        },
	itemSelector: ".item"
        /*sortBy: 'number',
        getSortData: {
          number: function( $elem ) {
            var number = $elem.hasClass('element') ? 
              $elem.find('.number').text() :
              $elem.attr('data-number');
            return parseInt( number, 10 );
          },
          alphabetical: function( $elem ) {
            var name = $elem.find('.name'),
                itemText = name.length ? name : $elem;
            return itemText.text();
          }
        }*/
      });
    
      
      var $optionSets = $('#options .option-set'),
          $optionLinks = $optionSets.find('a');

      $optionLinks.click(function(){
        var $this = $(this);
        // don't proceed if already selected
        if ( $this.hasClass('selected') ) {
          return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.selected').removeClass('selected');
        $this.addClass('selected');
  
        // make option object dynamically, i.e. { filter: '.my-filter-class' }
        var options = {},
            key = $optionSet.attr('data-option-key'),
            value = $this.attr('data-option-value');
        // parse 'false' as false boolean
        value = value === 'false' ? false : value;
        options[ key ] = value;
        if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
          // changes in layout modes need extra logic
          changeLayoutMode( $this, options )
        } else {
          // otherwise, apply new options
          $container.isotope( options );
        }
        
        return false;
      });


    /*
      // Sites using Isotope markup
      var $sites = $('#sites'),
          $sitesTitle = $('<h2 class="loading"><img src="http://i.imgur.com/qkKy8.gif" />Loading sites using Isotope</h2>'),
          $sitesList = $('<ul class="clearfix"></ul>');
        
      $sites.append( $sitesTitle ).append( $sitesList );

      $sitesList.isotope({
        layoutMode: 'cellsByRow',
        cellsByRow: {
          columnWidth: 290,
          rowHeight: 400
        }
      });
    
      var ajaxError = function(){
        $sitesTitle.removeClass('loading').addClass('error')
          .text('Could not load sites using Isotope :(');
      };
    */
      // dynamically load sites using Isotope from Zootool
      /*$.getJSON('http://zootool.com/api/users/items/?username=desandro' +
          '&apikey=8b604e5d4841c2cd976241dd90d319d7' +
          '&tag=bestofisotope&callback=?')
        .error( ajaxError )
        .success(function( data ){

          // proceed only if we have data
          if ( !data || !data.length ) {
            ajaxError();
            return;
          }
          var items = [],
              item, datum;

          for ( var i=0, len = data.length; i < len; i++ ) {
            datum = data[i];
            item = '<li><a href="' + datum.url + '">'
              + '<img src="' + datum.image.replace('/l.', '/m.') + '" />'
              + '<b>' + datum.title + '</b>'
              + '</a></li>';
            items.push( item );
          }
        
          var $items = $( items.join('') )
            .addClass('example');
            
          // set random number for each item
          $items.each(function(){
            $(this).attr('data-number', ~~( Math.random() * 100 + 15 ));
          });
        
          $items.imagesLoaded(function(){
            $sitesTitle.removeClass('loading').text('Sites using Isotope');
            $container.append( $items );
            $items.each(function(){
              var $this = $(this),
                  itemHeight = Math.ceil( $this.height() / 120 ) * 120 - 10;
              $this.height( itemHeight );
            });
            $container.isotope( 'insert', $items );
          });
        
        });
    
      */
    });
  </script>
<!-- <script>
	$('#content').enscroll({
    showOnHover: true,
    verticalTrackClass: 'track3',
    verticalHandleClass: 'handle3'
});
	
	$('#breadcrumb').enscroll({
    showOnHover: true,
    verticalTrackClass: 'track3',
    verticalHandleClass: 'handle3'
});
		
	$('html').enscroll({
    showOnHover: true,
    verticalTrackClass: 'track3',
    verticalHandleClass: 'handle3'
});
	
</script>
<script>
	
$(document).ready(

  function() { 

    $("html").niceScroll();

  }

);
</script>-->
	
		
		
		
	</body>
</html>
