<html>
	<head>
		<title>Speakeasy</title>
		<link rel="stylesheet" type="text/css" href="/media/speakeasy.css" />
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/media/knockout-2.1.0.js"></script>
                <script type="text/javascript">
			article_slug = '{{article_slug}}'  // Used by speakeasy.js; must be placed before speakeasy.js is included
		</script>
		<script type="text/javascript" src="/media/speakeasy.js"></script>
		<script type= "text/javascript" src="/media/jquery.isotope.min.js"></script>	

	</head>
	<body>
				 <div id="right">
    <div class= "columncontainer">
            <div id= "one" class= "a" ></div>
    </div>
    <div class= "columncontainer">
            <div id= "two" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "three" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "four" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "five" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "six" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "seven" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "eight" class= "b"></div>
    </div>
        <div class= "columncontainer">
            <div id= "nine" class= "a" ></div>
    </div>
    <div class= "columncontainer">
            <div id= "ten" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "eleven" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "twelve" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "thirteen" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "fourteen" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "fifteen" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "sixteen" class= "b"></div>
    </div>
</div>
		<div id="header">
			<a href= "http://www.speakeasycomments.com/articles"><img alt="S" id= "Sletter" src="http://i.imgur.com/XtqDmB2.png"/>
			<span id="title">peakeasy</span></a>
			{% if anonymous %}
				<a id="login_button" href="/login?next=/article/{{article_slug}}">Log in</a>
			{% else %}
				<a id="logout_button" href="/logout?next=/article/{{article_slug}}">Log out</a>
			{% endif %}
			
		</div>
		<div id="main">

		
		<div id="content">
			<h2>Article Title</h2>
			<hr>
			<div id="article-1" class="article">
				<div id="nodes" data-bind="foreach: articleNodes">
				   <div data-bind="attr: {id: node_display_id, class: node_class}">
					<p class="node-content" data-bind="text: content">
					</p>
					<a class="node-button" href="#"><span data-bind="attr: {class: 'node-num-comments node-num-comments-'+num_comments()}, text: num_comments"></span></a>
					<div class="clear"></div>
				   </div>
				</div>
			</div>
			
		</div>
			<div class="clear"></div>
			<!--<div id= "footer"></div>-->
		</div>
  		
		
  <script>
    $(function(){
    
      var $container = $('#comments-in-isotope');
      
    
      $container.isotope({
        masonry: {
          columnWidth: 10
        },
	itemSelector: ".item"
    
      });
    
      
      var $optionSets = $('#options .option-set'),
          $optionLinks = $optionSets.find('a');

      $optionLinks.click(function(){
        var $this = $(this);
        // don't proceed if already selected
        if ( $this.hasClass('selected') ) {
          return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.selected').removeClass('selected');
        $this.addClass('selected');
  
        // make option object dynamically, i.e. { filter: '.my-filter-class' }
        var options = {},
            key = $optionSet.attr('data-option-key'),
            value = $this.attr('data-option-value');
        // parse 'false' as false boolean
        value = value === 'false' ? false : value;
        options[ key ] = value;
        if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
          // changes in layout modes need extra logic
          changeLayoutMode( $this, options )
        } else {
          // otherwise, apply new options
          $container.isotope( options );
        }
        
        return false;
      });

    });
  </script>

			<div id="breadcrumb" class="inactive">
			<div id="comments-in-isotope" data-bind="template: {name: 'comment-template', foreach: activeNodeComments, afterAdd: commentAdded}">
					
					
				</div>
		<script type="text/html" id="comment-template">
			<div data-bind="attr: {id: display_id, class: display_class}">
						<div class="comment-user" data-bind="foreach: user"><span data-bind="text: first_name + '&#151;'"></span></div>
						<div class="comment-nodes" data-bind="foreach: nodes">
							<div class="node" data-bind="attr: {id: node_display_id}">
								<p class="node-content" data-bind="text: content">
								</p>
								<a class="node-button" href="#"><span data-bind="attr: {class: 'node-num-comments node-num-comments-'+num_comments()}, text: num_comments"></span></a>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
		</script>

				<div class="comment-submit-form" data-bind="with: _activeNode">
					<label data-bind="attr: {for: node_textarea_id}">Leave A Response</label>
					<a href="http://www.igendelman.com/art/Speakeasy.gif">HELP!</a>
					<textarea placeholder= "Enter your text and separate your thoughts by pressing the 'enter' button" data-bind="attr: {id: node_textarea_id, name: node_textarea_id}" ></textarea>
					<input type="submit" data-bind="attr: {id: node_submit_id, name: node_submit_id}" value="Submit"/>
					<div class="clear"></div>
			</div>
	</div>

		
		
	</body>
</html>
