{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <script type="text/javascript" src="{% static 'speakeasy.js' %}"></script>
{% endblock extra_head %}
{% block first_script %}
    <script type="text/javascript">
			articleSlug = '{{article_slug}}'  // Used by speakeasy.js; must be placed before speakeasy.js is included
    </script>
{% endblock first_script %}
{% block content %}
    <h2>Welcome!</h2>
    <h3>We are so glad to have you join our discussion! Please read the text and dive right into the comments. All you need to do to participate is sign in with your gmail account (top right of the page). When you comment press the enter button as you write to separate your thoughts into chunks that can be individually responded to. Have at it!</h3>
    <hr>
        
    <div id="article-1" class="article">
        <div id="nodes" data-bind="foreach: articleNodes">
           <div data-bind="attr: {id: 'node-' + nodeID(), class: 'node' + ((isActive()) ? ' active-node' : '')}" >
                <p class="node-content" data-bind="text: content">
                </p>
                <a href="#" data-bind="attr: {class: 'node-button' + (isActive() ? ' node-button-open' : '') + (hasNewComments() ? ' has-new-comments' : '')}"><span data-bind="attr: {class: 'node-num-comments node-num-comments-'+numComments()}, text: numComments"></span></a>
                <div class="clear"></div>
           </div>
        </div>
    </div>
    <div id="breadcrumb" class="inactive">
        <div id="breadcrumb-trail" data-bind="foreach: activeTrail">
            <div class="node item isotope-item" data-bind="attr: {id: 'node-'+nodeID()}">
                <p class="node-content" data-bind="text: content">
                </p>
                <a href="#" data-bind="attr: {class: 'node-button ' + (isActive() ? ' node-button-open' : '') + (hasNewComments() ? ' has-new-comments' : '')}"><span data-bind="attr: {class: 'node-num-comments node-num-comments-'+numComments()}, text: numComments"></span></a>
                <div class="clear">
                </div>
            </div>
        </div>
        <div id="comments" class="isotope" data-bind="foreach: activeNodeComments, afterAdd: commentAdded">
            <div data-bind="attr: {id: 'comment-'+commentID(), class: 'comment item isotope-item tope-comment'}">
                <!--<div class="comment-user" data-bind="with: user">
                    <span data-bind="text: first_name + '&#151;'">
                    </span>
                </div>-->
                <div class="comment-user" data-bind="text: userID"></div>
                <div class="comment-nodes" data-bind="foreach: nodes">
                    <div class="node" data-bind="attr: {id: 'node-'+nodeID()}">
                        <p class="node-content" data-bind="text: content">
                        </p>
                        <a href="#" data-bind="attr: {class: 'node-button' + (hasNewComments() ? ' has-new-comments' : '') }">
                            <span data-bind="attr: {class: 'node-num-comments node-num-comments-'+numComments()}, text: numComments"></span>
                        </a>
                        <!--<a href="#" data-bind="attr: {class: 'node-button ' + new_comments_class()}">
                            <span data-bind="attr: {class: 'node-num-comments node-num-comments-'+num_comments()}, text: num_comments">
                            </span>
                        </a>-->
                        <div class="clear">
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>


        <form id="comment-submit-form" action="{% url 'post_comment' article_slug %}" method="POST" data-bind="with: _activeNode">
	    <label for="response">Leave A Response</label>
	    <textarea id="response" name="response" placeholder="Enter your text and separate your thoughts by pressing the 'enter' button"></textarea>
	    <input type="submit" id="submit" value="Submit"/>
	    {% csrf_token %}
	    <div class="clear"></div>
	</form>

    </div>
		<!--      		
		
    <div id="breadcrumb" class="inactive">
        <div id="breadcrumb-trail" class="comments-in-isotope" data-bind="foreach: activeTrail, afterAdd: commentAdded">
            <div data-bind="attr: {id: 'tope-comment-'+node_id(), class: 'comment item isotope-item tope-comment-breadcrumb ' + active_class()}">
                <div class="comment-nodes">
                    <div class="node" data-bind="attr: {id: 'node-'+node_id()}">
                        <p class="node-content" data-bind="text: content">
                        </p>
                        <a href="#" data-bind="attr: {class: 'node-button ' + new_comments_class()}">
                            <span data-bind="attr: {class: 'node-num-comments node-num-comments-'+num_comments()}, text: num_comments">
                                
                            </span>
                        </a>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="comments-trail" class="comments-in-isotope" data-bind="foreach: activeComments, afterAdd: commentAdded">
            <div data-bind="attr: {id: 'tope-comment-'+comment_id(), class: 'comment item isotope-item tope-comment'}">
                <div class="comment-user" data-bind="with: user">
                    <span data-bind="text: first_name + '&#151;'">
                    </span>
                </div>
                <div class="comment-nodes" data-bind="foreach: nodes">
                    <div class="node" data-bind="attr: {id: node_display_id}">
                        <p class="node-content" data-bind="text: content">
                        </p>
                        <a href="#" data-bind="attr: {class: 'node-button ' + new_comments_class()}">
                            <span data-bind="attr: {class: 'node-num-comments node-num-comments-'+num_comments()}, text: num_comments">
                            </span>
                        </a>
                        <div class="clear">
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>

	<form class="comment-submit-form" action="{% url 'post_comment' article_slug %}" method="POST" data-bind="with: _activeNode">
	    <label data-bind="attr: {for: node_textarea_id}">Leave A Response</label>
	    <textarea placeholder= "Enter your text and separate your thoughts by pressing the 'enter' button" data-bind="attr: {id: node_textarea_id, name: node_textarea_id}" ></textarea>
	    <input type="submit" data-bind="attr: {id: node_submit_id, name: node_submit_id}" value="Submit"/>
	    {% csrf_token %}
	    <div class="clear"></div>
	</form>
    </div>
    -->
      <script>
 /*   $(function(){
    
      var $container = $('#comments-in-isotope');
      
    
      $container.isotope({
        masonry: {
          columnWidth: 10
        },
	itemSelector: ".item"
    
      });
    
      
      var $optionSets = $('#options .option-set'),
          $optionLinks = $optionSets.find('a');

      $optionLinks.click(function(){
        var $this = $(this);
        // don't proceed if already selected
        if ( $this.hasClass('selected') ) {
          return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.selected').removeClass('selected');
        $this.addClass('selected');
  
        // make option object dynamically, i.e. { filter: '.my-filter-class' }
        var options = {},
            key = $optionSet.attr('data-option-key'),
            value = $this.attr('data-option-value');
        // parse 'false' as false boolean
        value = value === 'false' ? false : value;
        options[ key ] = value;
        if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
          // changes in layout modes need extra logic
          changeLayoutMode( $this, options )
        } else {
          // otherwise, apply new options
          $container.isotope( options );
        }
        
        return false;
      });

    });*/
  </script>


    {% endblock content %}
</html>
