<div id= "colors">
    <div id="colorsdown">
	<div class= "columncontainer">
		<div id= "one" class= "a" ></div>
	</div>
	<div class= "columncontainer">
		<div id= "two" class= "b"></div>
	</div>
	<div class= "columncontainer">
		<div id= "three" class= "a"></div>
	</div>
	<div class= "columncontainer">
		<div id= "four" class= "b"></div>
	</div>
	<div class= "columncontainer">
		<div id= "five" class= "a"></div>
	</div>
	<div class= "columncontainer">
		<div id= "six" class= "b"></div>
	</div>
	<div class= "columncontainer">
		<div id= "seven" class= "a"></div>
	</div>
	<div class= "columncontainer">
		<div id= "eight" class= "b"></div>
	</div>
	    <div class= "columncontainer">
		<div id= "nine" class= "a" ></div>
	</div>
	<div class= "columncontainer">
		<div id= "ten" class= "b"></div>
	</div>
	<div class= "columncontainer">
		<div id= "eleven" class= "a"></div>
	</div>
	<div class= "columncontainer">
		<div id= "twelve" class= "b"></div>
	</div>
	<div class= "columncontainer">
		<div id= "thirteen" class= "a"></div>
	</div>
	<div class= "columncontainer">
		<div id= "fourteen" class= "b"></div>
	</div>
	<div class= "columncontainer">
		<div id= "fifteen" class= "a"></div>
	</div>
	<div class= "columncontainer">
		<div id= "sixteen" class= "b"></div>
	</div>
    </div>  <!--end of colorsdown-->
    <div id= "colorsup">
	<div class= "columncontainer">
		<div id= "sevenc" class= "e" ></div>
	</div>
	<div class= "columncontainer">
		<div id= "sixc" class= "f"></div>
	</div>
	<div class= "columncontainer">
		<div id= "fivec" class= "e"></div>
	</div>
	<div class= "columncontainer">
		<div id= "fourc" class= "f"></div>
	</div>
	<div class= "columncontainer">
		<div id= "threec" class= "e"></div>
	</div>
	<div class= "columncontainer">
		<div id= "twoc" class= "f"></div>
	</div>
	<div class= "columncontainer">
		<div id= "onec" class= "e"></div>
	</div>
	<div class= "columncontainer">
		<div id= "ninec" class= "f" ></div>
	</div>
	<div class= "columncontainer">
		<div id= "eightc" class= "e"></div>
	</div>
	<div class= "columncontainer">
		<div id= "tenc" class= "e"></div>
	</div>
	<div class= "columncontainer">
		<div id= "elevenc" class= "f"></div>
	</div>
	<div class= "columncontainer">
		<div id= "twelvec" class= "e"></div>
	</div>
	<div class= "columncontainer">
		<div id= "thirteenc" class= "f"></div>
	</div>
	<div class= "columncontainer">
		<div id= "fourteenc" class= "e"></div>
	</div>
	<div class= "columncontainer">
		<div id= "fifteenc" class= "e"></div>
	</div>
	<div class= "columncontainer">
		<div id= "sixteenc" class= "f"></div>
	</div>
    </div> <!--end of colorsup-->
</div>  <!--end of colors-->

