{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <link href ="{% static 'speakeasyhome.css' %}" rel= "stylesheet" type= "text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="{% static 'colors.js' %}" type="text/javascript"></script>
    <script type= "text/javascript" src="{% static 'jquery.isotope.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'isotopeuse.js' %}"></script>
    <title> Speakeasy</title>
</head>
<body>
    {% include 'colors.html' %}
<div id="banner">
    <div id="title"><strong>Speakeasy:</strong> make conversations dynamic &nbsp;</div>
</div>

<div id= "pagebody">
    <div id= "whatis">
	<div id="whatisleft">
	    <p>&nbsp; &nbsp; About Speakeasy</p>
	</div>
	<div id= "whatisright">
	    <div id= "tile" >
		<h2>What is Speakeasy?</h2>
		<p>Speakeasy lets you discuss as you read through a text, unlike normal comment systems that dump all the comments into one giant bucket at the end.</p>
		<p>When you comment using Speakeasy you can type just like you talk and think with your friends. Press 'enter' whenever you finish a thought and the opportunity to respond in a new tangent is created.</p>
		<p></p>
		<p></p>
	    </div>
	    <div id= "tile" >
		<h2>Why?</h2>
		<p>Great conversations can't be mapped onto a structure - they are organic and complex. Speakeasy lets you comment in a way that makes room for the twists, tangents and asides that make great conversations memorable.</p>
		<p >We don't have conversations in real life in a line, why should we online?</p>
	    </div>
	</div>
	</div> <!--end of whatis-->
	
    <div id= "tryout">
	<div id="tryoutleft">
	    <p>&nbsp; &nbsp; Try out Speakeasy</p>
	</div>
	<div id= "speakeasy">
	    <div id="sorter">
		<div class= "button">
		    newest
		</div>
		<div class= "button">
		    last name
		</div>
		<div class= "button">
		    first name
		</div>
		<div class= "button">
		    genre
		</div>
		<div class= "button">
		    comments
		</div>
	    </div> <!--end of sorter-->
	    <div id="container" name="container">
		    {% for article in articles %}
			<div class="item">
			    <p style= "font-size: small;"> &nbsp;</p>
			    <a href="/article/{{article.slug}}"><h3>{{article.slug}}</h3></a>
			    <p>***</p>
			</div>
		    {% endfor %}
	    </div> <!--end of container-->
	</div> <!--end of speakeasy-->
    </div> <!--end of tryout-->
</div> <!--end of pagebody-->
</body>

</html>
