{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title>Speakeasy</title>
    <link href ="{% static 'splash.css' %}" rel= "stylesheet" type= "text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).on('click', function(){window.location='/articles';});
    </script>
</head>
<body>
<div id= "main">
    <div class= "columncontainer">
            <div id= "one" class= "a" ></div>
    </div>
    <div class= "columncontainer">
            <div id= "two" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "three" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "four" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "five" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "six" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "seven" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "eight" class= "b"></div>
    </div>
        <div class= "columncontainer">
            <div id= "nine" class= "a" ></div>
    </div>
    <div class= "columncontainer">
            <div id= "ten" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "eleven" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "twelve" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "thirteen" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "fourteen" class= "b"></div>
    </div>
    <div class= "columncontainer">
            <div id= "fifteen" class= "a"></div>
    </div>
    <div class= "columncontainer">
            <div id= "sixteen" class= "b"></div>
    </div>  
</div>
<div id= "mainagain">
    <div id= "title">
     <div id= "speakeasytext" ><strong>Speakeasy:</strong> make conversations dynamic &nbsp; &nbsp; &nbsp;</div>
    </div>
</div>
<div id= "mainagainagain">
    <div class= "columncontainer">
            <div id= "sevenc" class= "e" ></div>
    </div>
    <div class= "columncontainer">
            <div id= "sixc" class= "f"></div>
    </div>
    <div class= "columncontainer">
            <div id= "fivec" class= "e"></div>
    </div>
    <div class= "columncontainer">
            <div id= "fourc" class= "f"></div>
    </div>
    <div class= "columncontainer">
            <div id= "threec" class= "e"></div>
    </div>
    <div class= "columncontainer">
            <div id= "twoc" class= "f"></div>
    </div>
    <div class= "columncontainer">
            <div id= "onec" class= "e"></div>
    </div>
            <div class= "columncontainer">
            <div id= "ninec" class= "f" ></div>
    </div>
            <div class= "columncontainer">
            <div id= "eightc" class= "e"></div>
    </div>
    <div class= "columncontainer">
            <div id= "tenc" class= "e"></div>
    </div>
    <div class= "columncontainer">
            <div id= "elevenc" class= "f"></div>
    </div>
    <div class= "columncontainer">
            <div id= "twelvec" class= "e"></div>
    </div>
    <div class= "columncontainer">
            <div id= "thirteenc" class= "f"></div>
    </div>
    <div class= "columncontainer">
            <div id= "fourteenc" class= "e"></div>
    </div>
    <div class= "columncontainer">
            <div id= "fifteenc" class= "e"></div>
    </div>
    <div class= "columncontainer">
            <div id= "sixteenc" class= "f"></div>
    </div>
</div>
<div id= "lastmain">
    <div id="cover">
    </div>
</div>
</body>
<script>
    $("#one").slideDown(1000);
    $("#two").slideDown(2000);
    $("#three").slideDown(1500);
    $("#four").slideDown(2000);
    $("#five").slideDown(1000);
    $("#six").slideDown(2500);
    $("#seven").slideDown(1500);
    $("#eight").slideDown(2000);
    $("#nine").slideDown(1000);
    $("#ten").slideDown(2500);
    $("#eleven").slideDown(1000);
    $("#twelve").slideDown(2000);
    $("#thirteen").slideDown(1000);
    $("#fourteen").slideDown(2500);
    $("#fifteen").slideDown(1500);
    $("#sixteen").slideDown(1000);
    
    $("#oneb").slideDown(1000);
    $("#twob").slideDown(2000);
    $("#threeb").slideDown(1500);
    $("#fourb").slideDown(2000);
    $("#fiveb").slideDown(1000);
    $("#sixb").slideDown(2500);
    $("#sevenb").slideDown(1500);
    $("#eightb").slideDown(2000);
    $("#nineb").slideDown(2000);
    $("#tenb").slideDown(2000);
    $("#elevenb").slideDown(2000);
    $("#twelveb").slideDown(2000);
    $("#thirteenb").slideDown(2000);
    $("#fourteenb").slideDown(2000);
    $("#fifteenb").slideDown(2000);
    $("#sixteenb").slideDown(2000);
    
    $("#onec").slideUp(3000);
    $("#twoc").slideUp(5000);
    $("#threec").slideUp(3500);
    $("#fourc").slideUp(5000);
    $("#fivec").slideUp(3000);
    $("#sixc").slideUp(5500);
    $("#sevenc").slideUp(3500);
    $("#eightc").slideUp(5000);
    $("#ninec").slideUp(5500);
    $("#tenc").slideUp(5000);
    $("#elevenc").slideUp(3000);
    $("#twelvec").slideUp(5000);
    $("#thirteenc").slideUp(3000);
    $("#fourteenc").slideUp(5500);
    $("#fifteenc").slideUp(5000);
    $("#sixteenc").slideUp(3500);
    
    $("#title").fadeIn(5000);
</script>
</html>
